.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.AnswerItem:hover {
  background: rgba(255,255,255, 0.2);
}